$squareRatio: ((1/7) * 100);
$squareRatioHalf: ($squareRatio / 2) + %;
.CalendarWidget {
    width: 80%;
    margin: 0 auto;
    .row {
        display: flex;
    }
    .day {
        background-color: #aaa;
        width: $squareRatio+%;
        padding-top: $squareRatioHalf;
        padding-bottom: $squareRatioHalf;
        text-align: center;
    }
    .calendar-view {
        display: flex;
        flex-direction: column;
    }
    .week-header .day {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}